.bg-image {
  background-image: url("../assets/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@keyframes slide {
  to {
    transform: translateX(-100%);
  }

  from {
    transform: translateX(0);
  }
}

@keyframes slide2 {
  to {
    transform: translateX(0);
  }

  from {
    transform: translateX(-100%);
  }
}

.logosSlide {
  white-space: nowrap;
  animation: slide 30s linear infinite;
}

.logosSlide2 {
  white-space: nowrap;
  animation: slide2 30s linear infinite;
}

.logosSlide:hover,
.logosSlide2:hover {
  animation-play-state: paused;
}
