.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255) !important;
  width: 10%;
  height: 25%;
  border-radius: 50%;
  z-index: -1;
  top: 35%;
  left: 45%;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.ripple:hover::before {
  -webkit-transform: scale(15);
  transform: scale(15);
  -webkit-transition: border-radius 0.5s 0.5s, -webkit-transform 0.5s;
  transition: border-radius 0.5s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, border-radius 0.5s 0.5s;
  transition: transform 0.5s, border-radius 0.5s 0.5s, -webkit-transform 0.5s;
}

.ripple:hover::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
